<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nouno.easydep">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:name="android.support.multidex.MultiDexApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAmYvO7yTRJbWVCYK1B1Rp3CDOwwictb-c" />

        <activity
            android:name=".Activities.Login_Activity"
            android:theme="@style/LoginTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity
            android:name=".Activities.Signup1_Activity"
            android:label="Inscription"
            android:noHistory="true"
            android:parentActivityName=".Activities.Login_Activity"
            android:theme="@style/SignupTheme" />
        <activity
            android:name=".Activities.Signup2_Activity"
            android:label="Inscription"
            android:noHistory="true"
            android:parentActivityName=".Activities.Signup1_Activity"
            android:theme="@style/SignupTheme"
             />
        <activity
            android:name=".Activities.Signup3_Activity"
            android:label="Inscription"
            android:noHistory="true"
            android:parentActivityName=".Activities.Signup2_Activity"
            android:theme="@style/SignupTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.Signup4_Activity"
            android:label="Inscription"
            android:noHistory="true"
            android:parentActivityName=".Activities.Signup1_Activity"
            android:theme="@style/SignupTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.PasswordForgotten1_Activity"
            android:label="Mot de passe oublié"
            android:parentActivityName=".Activities.Login_Activity"
            android:theme="@style/SignupTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.PasswordForgotten2_Activity"
            android:label="Mot de passe oublié"
            android:parentActivityName=".Activities.PasswordForgotten1_Activity"
            android:theme="@style/SignupTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.PasswordForgotten3_Actitivity"
            android:label="Mot de passe oublié"
            android:parentActivityName=".Activities.PasswordForgotten2_Activity"
            android:theme="@style/SignupTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.SearchActivity"
            android:label="@string/recherche_depanneur"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.FiltresActivity"
            android:label="Trier et filtrer"
            android:noHistory="true"
            android:theme="@style/SignupTheme" />
        <activity
            android:name=".Activities.ManualSearchActivity"
            android:label="Recherche"
            android:noHistory="true"
            android:theme="@style/SignupTheme">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Activities.RepairServiceInfoActivity"
            android:label="@string/title_activity_repair_service_info"
            android:parentActivityName=".Activities.SearchActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Activities.AddCommentActivity"
            android:label="Donnez votre avis "
            android:noHistory="true"
            android:parentActivityName=".Activities.RepairServiceInfoActivity"
            android:theme="@style/CommentTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Activities.OfflineSearchActivity"
            android:label="Mode hors ligne"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.OfflineFiltreActivity"
            android:label="Trier et filtrer"
            android:noHistory="true"
            android:parentActivityName=".Activities.OfflineSearchActivity"
            android:theme="@style/SignupTheme" />

        <service android:name=".Services.FirebaseInstanceIDservice">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Services.FireBaseMessangingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".Activities.Signup5_Activity"
            android:noHistory="true"
            android:theme="@style/SignupTheme" />
        <activity
            android:name=".Activities.AssistanceRequestActivity"
            android:noHistory="true"
            android:label="Demande de devis"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.RequestDimensionsActivity"
            android:noHistory="true"
            android:label="Dimensions du véhicules"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.BreakDownDescriptionActivity" />
        <activity
            android:name=".Activities.RequestsListActivity"
            android:label="Mes demandes"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".Activities.EstimateActivity"
            android:label="Devis"
            android:noHistory="true"
            android:theme="@style/AppTheme" />
        <activity android:name=".Activities.QueueActivity"
            android:label="Ma demande"
            android:theme="@style/AppTheme">

        </activity>
    </application>

</manifest>