<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.nouno.easydep">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAmYvO7yTRJbWVCYK1B1Rp3CDOwwictb-c" />

        <activity
            android:name=".Login_Activity"
            android:theme="@style/LoginTheme" />
        <activity
            android:name=".Signup1_Activity"
            android:label="Inscription"
            android:parentActivityName=".Login_Activity"
            android:theme="@style/SignupTheme" />
        <activity
            android:name=".Signup2_Activity"
            android:label="Inscription"
            android:parentActivityName=".Signup1_Activity"
            android:theme="@style/SignupTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Signup3_Activity"
            android:label="Inscription"
            android:parentActivityName=".Signup2_Activity"
            android:theme="@style/SignupTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".Signup4_Activity"
            android:label="Inscription"
            android:parentActivityName=".Signup1_Activity"
            android:theme="@style/SignupTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PasswordForgotten1_Activity"
            android:label="Mot de passe oublié"
            android:parentActivityName=".Login_Activity"
            android:theme="@style/SignupTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PasswordForgotten2_Activity"
            android:label="Mot de passe oublié"
            android:parentActivityName=".PasswordForgotten1_Activity"
            android:theme="@style/SignupTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".PasswordForgotten3_Actitivity"
            android:label="Mot de passe oublié"
            android:parentActivityName=".PasswordForgotten2_Activity"
            android:theme="@style/SignupTheme"
            android:windowSoftInputMode="adjustResize" />
        <activity
            android:name=".SearchActivity"
            android:label="@string/recherche_depanneur"
            android:theme="@style/SearchTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FiltresActivity"
            android:label="Trier et filtrer"
            android:parentActivityName=".SearchActivity"
            android:theme="@style/SignupTheme"></activity>
        <activity android:name=".ManualSearchActivity"
            android:label="Recherche"
            android:theme="@style/SignupTheme">
            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>
        </activity>
    </application>

</manifest>